In [ ]:
SELECT 
  po.name as product_name,
  EXTRACT(year FROM s.date) AS year,
  EXTRACT(month FROM s.date) AS month,
  EXTRACT(day FROM s.date) AS day,
  SUM(sd.count * po.price) as total
  
FROM sales_details as sd

JOIN sales as s ON sd.sale_id = s.id
JOIN products as po ON sd.product_id = po.id

Group by po.name, ROLLUP (year,month,day)

ORDER BY po.name, year, month, day