In [1]:
import pandas as pd
import numpy as np

In [2]:
df_events = pd.read_csv('/Users/anadeondarza/Desktop/ironhack_data/challenges/Proyecto final/events_1.csv')

In [3]:
df_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 575 entries, 0 to 574
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0.2  575 non-null    int64
 1   Unnamed: 0.1  575 non-null    int64
 2   Unnamed: 0    575 non-null    int64
 3   Events        575 non-null    object
 4   Año           575 non-null    int64
 5   sentiment     575 non-null    object
dtypes: int64(4), object(2)
memory usage: 27.1+ KB

In [4]:
df_events['Año'] = df_events['Año'].astype('str')

In [5]:
df_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 575 entries, 0 to 574
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0.2  575 non-null    int64
 1   Unnamed: 0.1  575 non-null    int64
 2   Unnamed: 0    575 non-null    int64
 3   Events        575 non-null    object
 4   Año           575 non-null    object
 5   sentiment     575 non-null    object
dtypes: int64(3), object(3)
memory usage: 27.1+ KB

In [6]:
import sqlalchemy
from sqlalchemy import create_engine

In [7]:
DB_SQLITE = 'file_db.db' ##Nombre de como se llamará tu archivo .db

In [8]:
# create table from df
def to_sql_k(self, frame, name, if_exists='fail', 
             index=False, index_label=None, schema=None, 
             chunksize=None, dtype=None, **kwargs):
    if dtype is not None:
        from sqlalchemy.types import to_instance, TypeEngine
        for col, my_type in dtype.items():
            if not isinstance(to_instance(my_type), TypeEngine):
                raise ValueError('The type of %s is not a SQLAlchemy '
                                 'type ' % col)

    table = pd.io.sql.SQLTable(name, self, frame=frame, index=index,
                               if_exists=if_exists, index_label=index_label,
                               schema=schema, dtype=dtype, **kwargs)
    table.create()
    table.insert(chunksize)

In [9]:
# create table sqlite
def to_sqlite(df, name_table):
    engine = create_engine(f'sqlite:///{DB_SQLITE}')
    pandas_sql = pd.io.sql.pandasSQL_builder(engine, schema=None)

    to_sql_k(pandas_sql, frame=df, name=name_table)

In [10]:
to_sqlite(df_events, 'events') ### se llama a la función para crear la tabla people en la bbdd con el contenido del df