In [1]:
import pandas as pd
import numpy as np

In [2]:
df_tv = pd.read_csv('/Users/anadeondarza/Desktop/ironhack_data/challenges/Proyecto final/tv_final.csv')

In [3]:
df_tv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6261 entries, 0 to 6260
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0.2  6261 non-null   int64
 1   Unnamed: 0.1  6261 non-null   int64
 2   Unnamed: 0    6261 non-null   int64
 3   show_id       6261 non-null   object
 4   type          6261 non-null   object
 5   title         6261 non-null   object
 6   director      227 non-null    object
 7   cast          3965 non-null   object
 8   country       3426 non-null   object
 9   release_year  6261 non-null   int64
 10  duration      6261 non-null   object
 11  listed_in     6261 non-null   object
 12  description   6260 non-null   object
 13  all           6261 non-null   object
 14  description_  6260 non-null   object
 15  sentiment     6261 non-null   object
dtypes: int64(4), object(12)
memory usage: 782.8+ KB

In [4]:
df_tv['release_year'] = df_tv['release_year'].astype('str')

In [6]:
df_tv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6261 entries, 0 to 6260
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0.2  6261 non-null   int64
 1   Unnamed: 0.1  6261 non-null   int64
 2   Unnamed: 0    6261 non-null   int64
 3   show_id       6261 non-null   object
 4   type          6261 non-null   object
 5   title         6261 non-null   object
 6   director      227 non-null    object
 7   cast          3965 non-null   object
 8   country       3426 non-null   object
 9   release_year  6261 non-null   object
 10  duration      6261 non-null   object
 11  listed_in     6261 non-null   object
 12  description   6260 non-null   object
 13  all           6261 non-null   object
 14  description_  6260 non-null   object
 15  sentiment     6261 non-null   object
dtypes: int64(3), object(13)
memory usage: 782.8+ KB

In [7]:
import sqlalchemy
from sqlalchemy import create_engine

In [8]:
DB_SQLITE = 'file_db.db' ##Nombre de como se llamará tu archivo .db

In [9]:
# create table from df
def to_sql_k(self, frame, name, if_exists='fail', 
             index=False, index_label=None, schema=None, 
             chunksize=None, dtype=None, **kwargs):
    if dtype is not None:
        from sqlalchemy.types import to_instance, TypeEngine
        for col, my_type in dtype.items():
            if not isinstance(to_instance(my_type), TypeEngine):
                raise ValueError('The type of %s is not a SQLAlchemy '
                                 'type ' % col)

    table = pd.io.sql.SQLTable(name, self, frame=frame, index=index,
                               if_exists=if_exists, index_label=index_label,
                               schema=schema, dtype=dtype, **kwargs)
    table.create()
    table.insert(chunksize)

In [10]:
# create table sqlite
def to_sqlite(df, name_table):
    engine = create_engine(f'sqlite:///{DB_SQLITE}')
    pandas_sql = pd.io.sql.pandasSQL_builder(engine, schema=None)

    to_sql_k(pandas_sql, frame=df, name=name_table)

In [11]:
to_sqlite(df_tv, 'tv_show') ### se llama a la función para crear la tabla people en la bbdd con el contenido del df